$button-color: #ffffff;
$button-color-darker: #262626;
$width-percentage: 1.2vw;


@media only screen and (min-device-width: 1224px){
    .round_button {
        display: block;
        float: left;
        width: $width-percentage;
        height: $width-percentage;
        border: 2px solid $button-color;
        border-radius: 50%;
        color: $button-color;
        text-align:center;
        text-decoration:none;
        background: #464646;
        box-shadow: 0 0 3px gray;
        font-size:20px;
        font-weight:bold;
    }
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) {
    .round_button {
        display: block;
        float: left;
        width: $width-percentage;
        height: $width-percentage;
        border: 2px solid $button-color;
        border-radius: 50%;
        color: $button-color;
        text-align:center;
        text-decoration:none;
        background: #464646;
        box-shadow: 0 0 3px gray;
        font-size:20px;
        font-weight:bold;
    }
/* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {
    .round_button {
        display: block;
        float: none;
        width: $width-percentage;
        height: $width-percentage;
        border: 2px solid $button-color;
        border-radius: 50%;
        color: $button-color;
        text-align:center;
        text-decoration:none;
        background: #464646;
        box-shadow: 0 0 3px gray;
        font-size:20px;
        font-weight:bold;
    }
/* Styles */
}

#picker_wrapper {
    width: 20vw;
    height: 20vh;

}
#slider_wrapper {
    width: 1vw;
    height: 20vh;

}
#picker_indicator {
    width: 1vw;
    height: 1vh;

    border: 1px solid white;
}
#slider_indicator {
    width: 100%;
    height: 1vw;

    border: 1px solid black;
}

#colorSel {
    position: absolute;
    left: -9999px;
    top: -9999px;

}
#reset {
    ;
}

.round_button:hover {
    background: $button-color-darker;
}




.slider:hover {
    opacity: 1;
}
[type="range"] {
    margin-top: 75px;
    margin-bottom: 60px;
    -webkit-transform:rotate(90deg);
       -moz-transform:rotate(90deg);
         -o-transform:rotate(90deg);
            transform:rotate(90deg);
}

.slider {
    -webkit-appearance: none;
    height: 7.5px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}
